.cookie_banner {
	width: 100% !important;
	padding: 4px;
	left: 0px; 
	text-align: center; 
	position: fixed;
	background-color: white;
}
.cookie_banner p {
	padding: 4px;
	margin-top: 5px;
	text-align: left;
}
.cookie_banner .btn {
	min-width: 200px;
	margin-bottom: 5px;
}
.cookie_banner .buttons {
	margin-top: 15px;
}